{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

  <h1>Welcome to Annonceo</h1>
  <div class="card-columns mt-5">
  {% for annonce in annonces %}
      {{ include("annonce/_card.html.twig") }}
  {% endfor %}
  </div>

{% endblock %}
