{% extends 'base.html.twig' %}

{% block title %}Hello OfficeController!{% endblock %}

{% block body %}
<div class="row">
    <div class="mr-auto col-5">
        
        <a href="{{ path('categorie') }}">Categories</a>
        <a href="{{ path('annonce') }}">Annonces</a>
        
    </div>
</div>
{% endblock %}
